body {
    background-color: rgb(146, 146, 146);
    width: 960px;
    height: 960px;
}
.nav-link:link {
    color: rgb(37, 156, 156);
}
.nav-link:visited {
    color: gray;
}

.nav-link:hover {
    color: rgb(8, 8, 8);
}

.nav-link:active {
    color: red;
}
input[type=submit]:active {
    color:red
}
 
h1:hover {
    background-color: gray;
}
h1:active{
    color: red;
}
input[type=submit]:hover {
    background-color: gray;
}

h1 {
    font-family: 'Black And White Picture', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Aldrich', sans-serif;
    padding: 14x;
    float: left;
    margin-right: 50px;
    margin-top: -30px;
    background-color: rgb(38, 156, 156);
    color: rgb(255, 253, 253);
    width: 25%;
    height: 50px;
    text-align: center;
    
   
}
.navbar {
font-family: 'Black And White Picture', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Monoton', cursive;
font-family: 'Aldrich', sans-serif;
float: right;
padding: 2%;
margin-top: -90%;
margin-right: -30%;
width: 130%;;

}
.navbar2 {
    font-family: 'Black And White Picture', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Aldrich', sans-serif;
    float: right;
    padding: 2%;
    margin-top: 1%;
    margin-right: -30%;
    width: 130%;
    
    }

h2 {
    font-family: 'Black And White Picture', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Aldrich', sans-serif;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    font-size: 28px;
   color: rgb(21, 126, 126);
}

 .main {
    background-color: rgb(78, 78, 78);
    width: 84%; 
    float: right;
    color: white;
    border-color:black;
    margin-top: -74%;
    padding: 15px;
    margin-left: 10px;
    margin-right: -50px;

}
.msgbox {
    font-family: 'Black And White Picture', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Aldrich', sans-serif;
    background-color: rgb(78, 78, 78);
    width: 84%;
    float: right;
    color: white;
    border-color: black;
    margin-top: 8%;
    padding: 15px;
    margin-left: 10px;
    margin-right: -25px;
    margin-bottom: 1%;

}
p {
   font-family: 'Black And White Picture', sans-serif;
   font-family: 'Permanent Marker', cursive;
   font-family: 'Orbitron', sans-serif;
   font-family: 'Monoton', cursive;
   font-family: 'Aldrich', sans-serif;
   font-size: 16px;
   line-break: auto;
   line-height: 24px;
}
img {
    margin-top: 4%;
    padding: 20px;
    
}
.num1 {
   
    margin-top: 6%;
    margin-right: 1%;
}

footer {
    font-family: 'Black And White Picture', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Aldrich', sans-serif;
    background-color: rgb(37, 158, 158);
    text-align: center;
    margin-top: 90%;
    width: 1145px;
    
}

    

}
.contacth2 {
    font-family: 'Black And White Picture', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Aldrich', sans-serif;
    float: left;
    padding:15px;
    margin-top: -6%;
    margin-left: -2%;
    margin-right: 20%;
    font-size: 34px;
    color: rgb(16, 141, 141);
    position: absolute;
}

input[type=text], select, textarea {

    font-family: 'Black And White Picture', sans-serif;
   font-family: 'Permanent Marker', cursive;
   font-family: 'Orbitron', sans-serif;
   font-family: 'Monoton', cursive;
   font-family: 'Aldrich', sans-serif;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    resize: vertical;
}

    input[type=submit] {

        font-family: 'Black And White Picture', sans-serif;
        font-family: 'Permanent Marker', cursive;
        font-family: 'Orbitron', sans-serif;
        font-family: 'Monoton', cursive;
        font-family: 'Aldrich', sans-serif;
        background-color:rgb(37, 158, 158);
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
    
  
    .contactfoot {
        font-family: 'Black And White Picture', sans-serif;
        font-family: 'Permanent Marker', cursive;
        font-family: 'Orbitron', sans-serif;
        font-family: 'Monoton', cursive;
        font-family: 'Aldrich', sans-serif;
        background-color: rgb(37, 158, 158);
        text-align: center;
        position: absolute;
    }
   
   .container {
       margin-left: 21%;
       margin-top: -1%;
       width: 75%;
   }
   .h2port {
    margin-top: 3%;
    margin-left: 15%;
   }
   .navbar3{
   font-family: 'Black And White Picture', sans-serif;
   font-family: 'Permanent Marker', cursive;
   font-family: 'Orbitron', sans-serif;
    font-family: 'Monoton', cursive;
    font-family: 'Aldrich', sans-serif;
   margin-top: 0%;
   margin-right: -30%;
   width: 130%;
   padding: 2%;
   }
   @media only screen and (max-width: 768px) {
     
    .main {
        width: 60%;
        float: left;
        margin-top: 13%;
        margin-right: 1%;
       }  
       .navbar, .navbar2 {
        width: 80%;
        float: left;
        margin-top: 1%;
    }
    footer {
        width: 60%;
        float: left;
    }
    .h2port{
        float: left;
        margin-top: 11%;
        margin-left: -46%;
    }
    .container {
       margin-left: 5%;
       margin-top: -1%;
    }
    .msgbox {
        width: 63%;
        margin-right: 27%;
    }
    .contactfoot {
        margin-top: 120%;
        width: 100%;
    }
    .contacth2 {
        margin-top: -9%;
        margin-left: -4%;
    }
   }
   @media only screen and (max-width: 600px) {
    .main {
        width: 60%;
        float: left;
        margin-top: 13%;
        margin-right: 1%;
       }  
    .navbar {
        width: 62%;
        float: left;
        margin-top: 1%;
    }
    .navbar2 {
        width: 62%;
        float: left;
        margin-top: 1%;
    }
    .container {
        margin-left: 4%;
    }
    .h2port {
        float: left;
        margin-top: 11%;
        margin-left: -28%
    }
    .msgbox {
        width: 50%;
        margin-right: 44%;
    }
    .contactfoot {
        margin-top: 157%;
        width: 100%;
    }
    .contacth2 {
    margin-top: -11%;
    margin-left: -6%;
    }
   }